{{include 'layout.html'}}

</head>

<body id="page-top">
{{block head}}
<script>
    var get_wireframe_images_url = "{{=URL('api', 'get_wireframe_images', user_signature=True)}}";
</script>
{{end}}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color: #F05F40">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">EZ Wireframe</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="{{=URL('default','index')}}">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<div>
    <div id="vue-div" style="float: right; margin-top: 8%; margin-bottom: 10%; margin-right: -5%; width: 25%;">
        <select class="form-control custom" v-model="platform" v-on:change="get_wireframe_images" style="margin-left: 2%; padding-left: 5px; height: 25px">
          <option>mobile</option>
          <option>web</option>
          <option>mobile + web</option>
        </select>
        <button v-on:click="prev" type="button" class="btn btn-primary" id="prev-btn"
                   style="margin-left: 20%; margin-bottom: 10%; display:block;">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        </button>
        <div style="height: 300px; width: 175px">
            <img  v-if="wireframes[currentNumber].platform == 'mobile'" :src="path + wireframes[currentNumber].wireframe_name"
                  style="height: 100%; width: 100%"/>
             <img  v-if="wireframes[currentNumber].platform == 'web'" :src="path + wireframes[currentNumber].wireframe_name"
                  style="margin-left: -15%; margin-top: 10%; height: 75%; width: 150%"/>
        </div>
        <button v-on:click="next" type="button" class="btn btn-primary" id="next-btn"
                 style="margin-left: 20%; margin-top: 10%; display:block;">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </button>
    </div>
</div>

</body>

{{include 'footer.html'}}

