{{include 'layout.html'}}

</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color: #F05F40">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">EZ Wireframe</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="{{=URL('default','index')}}">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>



<div style="float: right; margin-top: 12%; margin-bottom: 10%; width: 25%;">
    <button type="button" class="btn btn-primary" id="prev-btn" style="margin:auto; display:block;">
        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
    </button>

    <section class="slider" id="wireframe-slider" style="padding: 2em;">
            <div>
                <img src="http://placehold.it/350x300?text=1">
            </div>
            <div>
                <img src="http://placehold.it/350x300?text=2">
            </div>
            <div>
                <img src="http://placehold.it/350x300?text=3">
            </div>
            <div>
                <img src="http://placehold.it/350x300?text=4">
            </div>
            <div>
                <img src="http://placehold.it/350x300?text=5">
            </div>
            <div>
                <img src="http://placehold.it/350x300?text=6">
            </div>
    </section>
    <button type="button" class="btn btn-primary" id="next-btn" style="margin:auto; display:block;">
        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
    </button>
</div>

</body>

<script type="text/javascript">

    $('.slider').slick({
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        cssEase: 'linear',
        vertical: true,
        prevArrow: '#prev-btn',
        nextArrow: '#next-btn'
    });




</script>
{{include 'footer.html'}}

