{{include 'layout.html'}}

</head>

<body id="page-top" style="background-color: #959595">
{{block head}}
<script>
    var get_wireframe_images_url = "{{=URL('api', 'get_wireframe_images', user_signature=True)}}";
    var search_wireframe_images_url = "{{=URL('api', 'update_wireframe_image', user_signature=True)}}";
    var get_wireframe_by_name_url = "{{=URL('api', 'get_wireframe_by_name', user_signature=True)}}";
</script>
{{end}}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color: #F05F40">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">EZ Wireframe</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll" href="{{=URL('default','index')}}">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="{{=URL('default','index')}}">Logout</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div>
    <div id="wireframe-tree" style="margin-top: 5%; float: left">

    </div>

    <div id="vue-div" style="float: right; margin-top: 5%; margin-bottom: 10%; margin-right: -5%; width: 25%;">

        <div style="margin-top: 3%; margin-bottom: 5%">
            <span v-on:click="toggle_list" class="glyphicon glyphicon-list-alt" style="cursor: pointer; margin-left: 10%"
                  aria-hidden="true"></span>
            <span v-on:click="toggle_search" class="glyphicon glyphicon-search" style="cursor: pointer; margin-left: 20%"
                  aria-hidden="true"></span>
        </div>
        <div v-if="toggle_list_bool">
            <select class="form-control custom" v-model="platform" v-on:change="get_wireframe_images"
                    style="margin-left: 2%; padding-left: 5px; height: 25px">
              <option>mobile</option>
              <option>web</option>
              <option>mobile + web</option>
            </select>
        </div>
        <div v-if="toggle_search_bool" style="width: 60%; margin-bottom: 3%">
           <div>
                <div class="input-group" style="">
                    <input type="text" list="wireframe-list" v-model="search_wireframe" v-on:keyup="update_wireframe_image"
                           class="form-control" placeholder="search.."
                           style="padding: 5px; height: 35px">
                    <datalist id="wireframe-list" >
                        <span v-for="w in wireframe_hints">
                            <option v-bind:value="w[5]"></option>
                        </span>
                    </datalist>
                    <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" v-on:click="get_wireframe_by_name" style="margin-left: 5%; outline:none;">Go!</button>
                    </span>
                </div>
            </div><!-- /input-group -->
        </div>
        <button v-on:click="prev" type="button" class="btn btn-primary" id="prev-btn"
                   style="outline:none; margin-left: 20%; margin-bottom: 7%; display:block;">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        </button>
        <div v-on:dblclick="add_element_to_tree" v-bind:class="{ highlight: isActive }"   v-on:click="highlight"
             style="height: 300px; width: 175px">
            <img  v-if="wireframes[currentNumber].platform == 'mobile'"
                  :src="path + wireframes[currentNumber].wireframe_name" style="height: 100%; width: 100%"/>
            <img  v-if="wireframes[currentNumber].platform == 'web'"
                  :src="path + wireframes[currentNumber].wireframe_name" style="margin-left: -20%; margin-top: 10%; height: 75%; width: 150%"/>
            <h4  v-if="wireframes[currentNumber].platform == 'web'"

                 style="text-align: center;" v-html="wireframes[currentNumber].name_readable"></h4>
            <h4  v-if="wireframes[currentNumber].platform == 'mobile'"
                 style="text-align: center;" v-html="wireframes[currentNumber].name_readable"></h4>
        </div>
        <button v-on:click="next" type="button" class="btn btn-primary" id="next-btn"
                 style="outline:none; margin-left: 20%; margin-top: 15%; display:block;">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </button>
    </div>
</div>

</body>

{{include 'footer.html'}}

