{{include 'layout.html'}}

</head>

<body id="page-top">

<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="#page-top">EZ Wireframe</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a class="page-scroll" href="#about">Get Started</a>
        </li>
        <li>
          <a class="page-scroll" href="{{=URL('default','login')}}">Login</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<header style="">
  <div class="layer">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading" style="">The Eaziest Way to Design a Website or Mobile Application</h1>
      <hr>
      <p>Start designing your mobile or web application today! Its easy and free to use, Sign up now!</p>
      <a href="#about" class="btn btn-primary btn-xl page-scroll">Get Started Now!</a>
    </div>
  </div>
  </div>
</header>

<section class="bg-primary" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Sign up Today!</h2>
        <hr class="light">
        <p class="text-faded">EZ Wireframe has everything you need to simply design your website or mobile app today!</p>
        <a href="{{=URL('default','register')}}" class="page-scroll btn btn-default btn-xl sr-button">Get Started!</a>
      </div>
    </div>
  </div>
</section>

<section id="services">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">At Your Service</h2>
        <hr class="primary">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
          <h3>Web and Mobile Wireframes</h3>
          <p class="text-muted">Design your app with a variety of templates</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
          <h3>Easy to start</h3>
          <p class="text-muted">Start designing in minutes</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
          <h3>Great Designs</h3>
          <p class="text-muted">Choose from 187 unique designs</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
          <h3>You'll love what you create</h3>
          <p class="text-muted">We guarantee it</p>
        </div>

      </div>
    </div>
  </div>
</section>



<aside class="bg-dark">
  <div class="container text-center">
    <div class="call-to-action">
      <h2>Try Out EZ Wireframe Now!</h2>
    </div>
  </div>
</aside>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Let's Get In Touch!</h2>
        <hr class="primary">
        <p></p>
      </div>
      <div class="col-lg-4 col-lg-offset-2 text-center">
        <i class="fa fa-phone fa-3x sr-contact"></i>
        <p>123-456-6789</p>
      </div>
      <div class="col-lg-4 text-center">
        <i class="fa fa-envelope-o fa-3x sr-contact"></i>
        <p><a href="mailto:your-email@your-domain.com">ez_wireframe@ez_wireframe.com</a></p>
      </div>
    </div>
  </div>
</section>

{{include 'footer.html'}}

