
  .overlay{
      margin-top: -5%;
      background-color:#777777;
  }

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 4px;
  }

  .templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
  }

  .highlight {
    outline:5px solid #F05F40;
  }

  .image {


  }